<div class="container-Aprobar-projects">
  <h1 class="title">Gestión de prácticas preprofesionales</h1>
  <h2>Ventana de Aprobación</h2>

  <div class="container-table">
    <div class="filter">
      <i class="bi bi-search"></i>
      <input type="text" class="form-control" placeholder="Buscar">
    </div>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>ID</th>
          <th>Proyecto</th>
          <th>Empresa</th>
          <th>Estudiante</th>
          <th>Horario</th>
          <th>Estado</th>
          <th>Acciones</th>
          <!-- <th>Comentarios</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfData">
          <td>{{ data.id }}</td>
          <td>{{ data.projectName }}</td>
          <td>{{ data.company }}</td>
          <td>{{ data.estudiante }}</td>
          <td>{{ data.horario }}</td>
          <td>{{ data.estado }}</td>
          <td>
            <button class="btn btn-outline-primary" (click)="aprobar(data)">Aprobar </button>
          </td>
          <!-- <td>
            <textarea [(ngModel)]="comentarios" cols="30" rows="3"></textarea>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>