<div class="container-list-projects">
  <h1 class="title">Gestión de prácticas preprofesionales</h1>

  <div class="container-table">
    <div class="d-flex align-items-center justify-content-between">
      <div class="filter">
        <i class="bi bi-search"></i>
        <input class="form-control" placeholder="Buscar" type="text">
      </div>
      <button class="btn btn-primary mt-3" data-bs-target="#createProjectModal" data-bs-toggle="modal" type="button">
        Agregar
        proyecto
      </button>
    </div>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
      <tr>
        <th>Proyecto</th>
        <th>Empresa</th>
        <th>Supervisor</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.projectName }}</td>
        <td>{{ data.company }}</td>
        <td>{{ data.supervisor }}</td>
        <td>{{ data.startDate }}</td>
        <td>{{ data.endDate }}</td>
        <td>
          <button class="btn btn-outline-primary">Gestionar solicitud</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button class="btn btn-outline-danger">Borrar</button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!-- Modal para agregar proyecto -->
<div aria-hidden="true" aria-labelledby="createProjectModalLabel" class="modal fade" id="createProjectModal"
     tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createProjectModalLabel">Modal title</h1>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
        <button class="btn btn-primary" type="button">Save changes</button>
      </div>
    </div>
  </div>
</div>
