<div class="container-list-projects">
  <h1 class="title">Gestión de prácticas preprofesionales</h1>


  <div class="container-table">
    <div class="filter">
      <i class="bi bi-search"></i>
      <input type="text" class="form-control" placeholder="Buscar">
    </div>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Proyecto</th>
          <th>Empresa</th>
          <th>Supervisor</th>
          <th>Fecha inicio</th>
          <th>Fecha fin</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.projectName }}</td>
          <td>{{ data.company }}</td>
          <td>{{ data.supervisor }}</td>
          <td>{{ data.startDate }}</td>
          <td>{{ data.endDate }}</td>
          <td>
            <button class="btn btn-outline-primary">Gestionar solicitud</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button class="btn btn-outline-danger">Borrar</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
