<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzPlacement]="'left'"
  nzTitle="Menú"
  (nzOnClose)="openDrawer()"
>
<ng-container *nzDrawerContent> 
    <div class="container-menu-item">
      <a routerLink="/admin/project" class="menu-item shadow-sm">
        <i class="bi bi-book"></i>
        <span>Proyectos</span>
      </a>
      <a routerLink="/admin/project" class="menu-item shadow-sm">
        <i class="bi bi-person-badge"></i>
        <span>Estudiantes</span>
      </a>
    </div>
</ng-container>

</nz-drawer>
<div>
  <header class="header-layout shadow">
    <i class="bi bi-list icon-menu" (click)="openDrawer()"></i>
    <div class="logo">
      <img src="assets/logoUg.png" alt="logo" />
      <span>SIUG Estudiantes</span>
    </div>

    <div class="container-user">
      <span>{{ profileName }}</span>
      <i class="bi bi-person-circle"></i>
    </div>
  </header>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
